@import 'vars';
@import 'global';
@import 'normalize';

.header {
    margin-bottom: 143px;
    padding-top: 62px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__menu-list {
        display: flex;
        gap: 30px;
        padding-right: 53px
    }
    &__menu-link {
        @extend %text;
    }
}
.main {
    text-align: center;
    &__title {
        margin-bottom: 30px;
        @extend %title;
    }
    &__text {
        margin-bottom: 47px;
        @extend %text;
        max-width: 573px;
        width: 100%;
        text-align: center;
        font-size: 22px;
    }
}